<button class="waves-effect waves-light btn" (click)="abreModal()">Comece sua jornada Pokemon!</button>

<div materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions" class="modal modal-fixed-footer">
	<div class="modal-content">

		<img src="/assets/Jacob.gif_c200">
		<h5> Bem vindo, ao mundo pokemom!</h5>

		<div class="container">
			<form #jornada="ngForm" (ngSubmit)="onSubmit(jornada)">

				<div class=" input-field col s12">
					<input id="nome" type="text" name="nome" ngModel required #nome="ngModel">
					<label for="nome">Nome</label>
				</div>

				<div class=" input-field col s12">

					<input id="idade" type="number" name="idade" ngModel required #idade="ngModel"  (change)="checkAge(idade)" (keyup)="checkAge(idade)" autocomplete="off">
					<label for="idade">Idade</label>

					<div *ngIf="ageError && idade.valid">
						<p class="aviso">*{{idade.value}} ano(s)? você é muito jovem para uma jornada pokemon.</p><br>
					</div>

				</div>

				<div class=" input-field col s12">

					<input id="numIdent" type="text" name="numIdent" pattern="[0-9]*"  ngModel required #numIdent="ngModel" (blur)="checkNumIdent(numIdent)" autocomplete="off">
					<label for="numIdent">Nº de indetificação (8 dígitos)</label>

					<div *ngIf="numIdentError || numIdent.errors?.pattern">
						<p class="aviso">*Esse campo deve conter exatos 8 dígitos numéricos.</p><br>
					</div>

				</div>

				<div class=" col s12 m6">
					<p>Região de Início da Jornada: </p>
					<p>
      					<input type="radio" id="kanto" name="grupo1" value="Kanto" ngModel required #radioBtn="ngModel" (change)="disableCheckbox(0)"/>
        				<label for="kanto">Kanto</label>	
					</p>
					<p>
						<input type="radio" id="johto" name="grupo1" value="Johto" ngModel (change)="disableCheckbox(1)"/>
					  	<label for="johto">Johto</label>	
				  	</p>
					<p>
						<input type="radio" id="hoenn" name="grupo1" value="Hoenn" ngModel (change)="disableCheckbox(2)"/>
				  		<label for="hoenn">Hoenn</label>	
					</p>
					<p>
						<input type="radio" id="sinnoh" name="grupo1" value="Sinnoh" ngModel (change)="disableCheckbox(3)"/>
					  	<label for="sinnoh">Sinnoh</label>	
				  	</p>
				  	<p>
						<input type="radio" id="unova" name="grupo1" value="Unova" ngModel (change)="disableCheckbox(4)"/>
				  		<label for="unova">Unova</label>	
			  		</p>
			  		<p>
						<input type="radio" id="kalos" name="grupo1" value="Kalos" ngModel (change)="disableCheckbox(5)"/>
			  			<label for="kalos">Kalos</label>	
		  			</p>
				</div>

				<div class="col s12 m6">
					<p>Outras regiões que planeja se aventurar:</p>
					<p>
      					<input type="checkbox" [disabled]="checkbox[0]" class="filled-in" id="kanto_chec" name="kanto_chec" ngModel required #kantoC="ngModel" (change)="getRegiao(kantoC.value,'Kanto')"/>
        				<label for="kanto_chec">Kanto</label>	
					</p>
					<p>
						<input type="checkbox" [disabled]="checkbox[1]" class="filled-in" id="johto_chec" name="johto_chec" ngModel required #johtoC="ngModel" (change)="getRegiao(johtoC.value,'Johto')"/>
					  	<label for="johto_chec">Johto</label>	
				  	</p>
				  	<p>
						<input type="checkbox" [disabled]="checkbox[2]" class="filled-in" id="hoenn_chec" name="hoenn_chec" ngModel required #hoennC="ngModel" (change)="getRegiao(hoennC.value,'Hoenn')"/>
				  		<label for="hoenn_chec">Hoenn</label>	
			 		</p>
			  		<p>
						<input type="checkbox" [disabled]="checkbox[3]" class="filled-in" id="sinnoh_chec" name="sinnoh_chec" ngModel required #sinnohC="ngModel" (change)="getRegiao(sinnohC.value,'Sinnoh')"/>
			  			<label for="sinnoh_chec">Sinnoh</label>	
		  			</p>
		  			<p>
						<input type="checkbox" [disabled]="checkbox[4]" class="filled-in" id="unova_chec" name="unova_chec" ngModel required #unovaC="ngModel" (change)="getRegiao(unovaC.value,'Unova')"/>
		  				<label for="unova_chec">Unova</label>	
	  				</p>
	  				<p>
						<input type="checkbox" [disabled]="checkbox[5]" class="filled-in" id="kalos_chec" name="kalos_chec" ngModel required #kalosC="ngModel" (change)="getRegiao(kalosC.value,'Kalos')"/>
	  					<label for="kalos_chec">Kalos</label>	
  					</p>
  					<p>
						<input type="checkbox" [disabled]="checkbox[6]" class="filled-in" id="sevii_chec" name="sevii_chec" ngModel required #seviiC="ngModel" (change)="getRegiao(seviiC.value,'Ilhas Sevii')"/>
  						<label for="sevii_chec">Ilhas Sevii</label>	
					</p>
					<p>
						<input type="checkbox" [disabled]="checkbox[7]" class="filled-in" id="laranjas_chec" name="laranjas_chec" ngModel required #laranjasC="ngModel" (change)="getRegiao(laranjasC.value,'Ilhas Laranja')"/>
  						<label for="laranjas_chec">Ilhas Laranja</label>	
					</p>
				</div>

				<div class="input-field col s12">

					<div *ngIf="pokemon" class="col s6">
						<img class="activator" src="{{pokemon.sprites.front_default}}">
					</div>

					<div *ngIf="pokemon" class="col s6">
						<p class="rigth">
							#{{pokemon.id}}
							<br>XP base: {{pokemon.base_experience}}
						</p>
					</div>		

					<input id="poke" type="text" name="poke" ngModel required #poke="ngModel" (blur)="getPokemon(poke)">
					<label for="poke">Pokémon inicial</label>

					<div *ngIf="pokemonError">
							<p class="aviso">*Escolha um pokemon que existe, você pode checar nossa pokedex.</p><br>
					</div>

				</div> 

				<div *ngIf="(nome.invalid && nome.touched)|| (idade.invalid && idade.touched) || (numIdent.invalid && numIdent.touched) || (radioBtn.invalid && radioBtn.untouched) || (poke.invalid && poke.untouched && poke.pristine)">
					<p class="aviso">*Campo(s) obrigatórios.</p>
				</div>

				<button class="waves-effect waves-light btn" type="submit" [disabled]="nome.invalid || idade.invalid || numIdent.invalid || radioBtn.invalid || poke.invalid || ageError || numIdentError || pokemonError || numIdent.errors?.pattern">COMEÇAR!</button>

			</form>
		</div>
	</div>

	<div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="fechaModal()">Fechar</a>
	</div>
	
</div>
