<button class="waves-effect waves-light btn" (click)="abreModal()">Comece sua jornada Pokemon!</button>

<div materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions" class="modal modal-fixed-footer">
	<div class="modal-content">
		<img src="/assets/Jacob.gif_c200">
		<h5> Bem vindo, ao mundo pokemom!</h5>
		<div class="container">
			<form #jornada="ngForm" (ngSubmit)="onSubmit(jornada)">
				<div class=" input-field col s12">
					<input id="nome" type="text" name="nome" ngModel required #nome="ngModel">
					<label for="nome">Nome</label>
				</div>
				<div class=" input-field col s12">
					<input id="idade" type="text" name="idade" ngModel required #idade="ngModel">
					<label for="idade">Idade</label>
				</div>
				<div class=" input-field col s12">
					<input id="numIdent" type="text" name="numIdent" ngModel required #numIdent="ngModel">
					<label for="numIdent">Nº de indetificação</label>
				</div>
				<div class=" col s12 m6">
					<p>Região de Início da Jornada: </p>
					<p>
      					<input type="radio" id="kanto" name="grupo1" value="Kanto" ngModel required/>
        				<label for="kanto">Kanto</label>	
					</p>
					<p>
						<input type="radio" id="johto" name="grupo1" value="Johto" ngModel/>
					  	<label for="johto">Johto</label>	
				  	</p>
					<p>
						<input type="radio" id="hoenn" name="grupo1" value="Hoenn" ngModel/>
				  		<label for="hoenn">Hoenn</label>	
					</p>
					<p>
						<input type="radio" id="sinnoh" name="grupo1" value="Sinnoh" ngModel/>
					  	<label for="sinnoh">Sinnoh</label>	
				  	</p>
				  	<p>
						<input type="radio" id="unova" name="grupo1" value="Unova" ngModel/>
				  		<label for="unova">Unova</label>	
			  		</p>
			  		<p>
						<input type="radio" id="kalos" name="grupo1" value="Kalos" ngModel/>
			  			<label for="kalos">Kalos</label>	
		  			</p>
				</div>
				<div class="col s12 m6">
					<p>Outras regiões que planeja se aventurar:</p>
					<p>
      					<input type="checkbox" class="filled-in" id="kanto_chec" name="grupo2" ngModel required #kantoC="ngModel" (change)="essaBudegaMudou(kantoC.value,'Kanto')"/>
        				<label for="kanto_chec">Kanto</label>	
					</p>
					<p>
						<input type="checkbox" class="filled-in" id="johto_chec" name="grupo2" ngModel required #johtoC="ngModel" (change)="essaBudegaMudou(johtoC.value,'Johto')"/>
					  	<label for="johto_chec">Johto</label>	
				  	</p>
				  	<p>
						<input type="checkbox" class="filled-in" id="hoenn_chec" name="grupo2" ngModel required #hoennC="ngModel" (change)="essaBudegaMudou(hoennC.value,'Hoenn')"/>
				  		<label for="hoenn_chec">Hoenn</label>	
			 		</p>
			  		<p>
						<input type="checkbox" class="filled-in" id="sinnoh_chec" name="grupo2" ngModel required #sinnohC="ngModel" (change)="essaBudegaMudou(sinnohC.value,'Sinnoh')"/>
			  			<label for="sinnoh_chec">Sinnoh</label>	
		  			</p>
		  			<p>
						<input type="checkbox" class="filled-in" id="unova_chec" name="grupo2" ngModel required #unovaC="ngModel" (change)="essaBudegaMudou(unovaC.value,'Unova')"/>
		  				<label for="unova_chec">Unova</label>	
	  				</p>
	  				<p>
						<input type="checkbox" class="filled-in" id="kalos_chec" name="grupo2" ngModel required #kalosC="ngModel" (change)="essaBudegaMudou(kalosC.value,'Kalos')"/>
	  					<label for="kalos_chec">Kalos</label>	
  					</p>
  					<p>
						<input type="checkbox" class="filled-in" id="sevii_chec" name="grupo2" ngModel required #seviiC="ngModel" (change)="essaBudegaMudou(seviiC.value,'Ilhas Sevii')"/>
  						<label for="sevii_chec">Sevii Islands</label>	
					</p>
					<p>
						<input type="checkbox" class="filled-in" id="laranjas_chec" name="grupo2" ngModel required #laranjasC="ngModel" (change)="essaBudegaMudou(laranjasC.value,'Ilhas Laranja')"/>
  						<label for="laranjas_chec">Ilhas Laranja</label>	
					</p>
				</div>
				<div class="input-field col s12">
					<div *ngIf="pokemon" class="col s6">
						<img class="activator" src="{{pokemon.sprites.front_default}}">
					</div>
					<div *ngIf="pokemon" class="col s6">
						<p class="rigth">
							#{{pokemon.id}}
							<br>XP base: {{pokemon.base_experience}}
						</p>
					</div>		
					<input id="poke" type="text" name="poke" ngModel required #poke="ngModel" (blur)="getPokemon(poke)">
					<label for="poke">Pokémon inicial</label>
				</div>
				<button class="waves-effect waves-light btn" type="submit">COMEÇAR!</button>
			</form>
		</div>
	</div>
	<div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="fechaModal()">Fechar</a>
    </div>
</div>


<!-- 

	<form #login="ngForm" (ngSubmit)="onSubmit(login)" class="col l12 card-panel">
		<div>
			<div class="input-field col l6">
				<input id="usuario" type="text" name="usuario" ngModel required #usuario="ngModel">
				<label for="usuario">Usuário</label>
			</div>
			<div class="input-field col l6">
				<input id="senha" type="password" name="senha" ngModel required #senha="ngModel" (keyup)="checkPassword(senha)">
				<label for="senha">Senha</label>
			</div>
		</div>

		<div *ngIf="(usuario.invalid && usuario.touched)|| (senha.invalid && senha.touched) || (login.submitted && login.untouched && senha.untouched)">
					<p>*Campo(s) obrigatórios.</p>
		</div>

		<div *ngIf="passwordError">
			<p>*Senha inválida.</p>
		</div>

		<div class="row">
			<button class="waves-effect waves-light btn" type="submit" [disabled]="login.invalid || passwordError">LOGIN</button>
		</div>
	</form>

-->