<div class="row">
	<div class="container center config">
		<div class="col s12">
			<div class="card-panel">
				<img src="/assets/8144.png" class="responsive-img">
				<p>
					No mundo que você está prestes a entrar, você será o herói de uma grande aventura. Fale com as pessoas e verifique as coisas onde quer que você vá, cada informação que conseguir pode ser de suma importância. Novos caminhos serão abertos para você, ajudando as pessoas e resolvendo diversos mistérios. Às vezes você será desafiado por treinadores ou atacado por criaturas selvagens. Tenha coragem e continue. Nessa aventura, esperamos que você interaja com todo tipo de pessoas, e atinja seu objetivo. Esse é nosso maior desejo. Aperte o botão e deixe sua aventura começar!
				</p>
				<p class="citacao"> "Nós temos muitas coisas em comum, a mesma terra, o mesmo ar, o mesmo céu. Talvez se começássemos a olhar para as coisas que temos em comum ao invés de diferente… Bom, quem sabe?"
				</p>
				<p>~Mewtwo</p>
			</div>	
		</div>
		<div class="col s12">
			<app-form></app-form>
		</div>
	</div>
</div>









