<nav>
    <div class="nav-wrapper blue darken-3">
      <a href="#"><img class="circle" src="/assets/main-logo.jpg"><span class="white-text valign-wrapper brand-logo">MyPokedex</span></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLinkActive="active"><a routerLink="/home" [queryParams]="{page:1}">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/pokemons">Pokemons</a></li>
        <li routerLinkActive="active"><a routerLink="/trainer">Treinador</a></li>
      </ul>
    </div>
  </nav>

